*{
  box-sizing: border-box;
}
.puzzle {
  position: relative;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #333533;
  display: flex;
  justify-content: center;
  align-items: center;
  .puzzle_wraper {
    width: 400px;
    height: 470px;
    background-color: #f5cb5c;
    .main {
      padding: 20px;
      width: 100%;
      height: calc(100% - 70px);
      display: flex;
      flex-wrap: wrap;
      button {
        width: 90px;
        height: 90px;
        background-color: #cfdbd5;
        font-weight: bold;
        font-size: 22px;
        color: #e36414;
        border-color: #ffc4a0;
        &:focus {
          outline: none;
        }
      }
    }
    .details {
      height: 70px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      // border: 1px solid beige;
      div {
        // border: 1px solid red;
        color: #242423;
        font-weight: bold;
        font-size: 18px;
        span {
          color: #e8eddf;
        }
      }
    }
  }
  .size{
    width: 100%;
    height: 100vh;
    background-color: #c6ac8f;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
    h3{
      color: #22333b;
      font-size: 40px;
    }
    div{
      padding: 30px 60px;
      border: 10px solid #5e503f;
      background-color: #eae0d5;
      cursor: pointer;
      transition: .4s;
      &:hover{
        transform: scale(1.1);
      }
      span{
        font-weight: bold;
        font-size: 30px;
      }
    }
  }
}

.goTop{
  transform: translateY(-110vh);
}
.reSize{
  width: 120px !important;
  height: 120px !important;
}